*{
	border: 0;
	padding: 0;
	margin: 0;
	font-family: '微软雅黑';
}
.h_icon{
	position: absolute;
    margin-top: 20px;
    margin-left: -60px;
    width: 40px;
    height: 40px;
    background-image: url(../images/english.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
	width: 100%;
	min-width: 1000px;
	height: auto;
}
.header{
	width: 100%;
	height: 80px;
	background: rgb(0,202,121);
}
.header p{
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 2px;
	width: 70%;
	color: #fff;
	line-height: 80px;
	float: left;
	padding-left: 100px;

}
.header a{
	display: block;
	float: right;
	margin-right: 5%;
	margin-top: 15px;
}
.logout{
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../images/logout.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.iframes{
	width: 100%;
	height: auto;
}
.iframe1{
	background: rgb(32,32,32);
	width: 20%;
	height: 100%;
	float: left;
}
.iframe2{
	width: 80%;
	height: 100%;
	float: left;
}